html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right bottom, black 55%, rgb(97, 0, 92));
}
h1, h2{
    color: orange;
        padding-top: 15px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight:bolder;
        text-decoration: underline;
}

.carousel-item img{
    width: 100%;
}
h3{
    color: orange;
    border-bottom: darkmagenta 1px solid;
}
span div img{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.mietteitä{
    display: flex;
}

button{
    border: none;
    color: white;
    background-color: transparent;
}
button:hover{
    color: darkmagenta;
}
.blog-post p:nth-child(3){
    overflow: hidden;
    transition: max-height 1s;
    max-height: 75px;
}
.blog-post p:nth-child(3).collapsePara{
    max-height: 600px;
}

.sticky{
    position: sticky;
    top: 0;

 
    
    
}
.sticky h4{
    color: orange;
    text-decoration: underline;
}
.sticky ol{
    margin: 0px;
    padding-left: 0px;
}
.sticky li{
    list-style: none;
    margin: 0px;
}
.sticky a{
    color: rgb(197, 68, 197);
    font-size: 18px;
    
}
.sticky a:hover{
    color: orange;
}
.pagination{
    float: right;

    
}

.pagination a{
    background-color: transparent;
    padding: 6px 10px;
    text-decoration: none;
    color: darkmagenta;
    font-size: 18px;
    
    
}
.pagination a:hover{
    color: orange;
    text-decoration: underline;
}
.carousel-caption{
    color: orange;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.carousel .carousel-item {
    height: 300px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 300px;
      height: 100%;
      filter: blur(2px);
  }
  @media screen and (max-width:340px){
    .blog-post p:nth-child(3){
        font-size: 14px;
    }

  }

@media screen and (max-width:1200px){
 
  .blog-post p:nth-child(3).collapsePara{
      max-height: 1200px;
  }
}