h1{
    color: orange;
    padding-top: 15px;
}
p{
    
    font-size: 18px;
    padding-bottom: 10px;
    text-align: justify;
    overflow: hidden;
    
}
.card-image{
    height: 60px;
    width: 25%;
    align-self: center;   
    filter: invert(100%);
}
.card{
    border: black 2px solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.esittely-img{
    float: right;
}

.tavoitteet{
    float: left;
    min-height: 60vh;
    background-image: url(./images/invassio.png);
    
    background-position: center;
    background-color: rgb(255, 180, 41);
    background-size: cover;
    
    
}
.tavoitteet h1{
    color: black;
}


.tavoitteet a{
    background-color: orange;
    color: black;
    border-color: black;
    
}
.card-body{
    color: white;
}
.card-body h3{
    font-weight: bold;
}
.koulutus{
    min-height: 60vh;
    background-color: rgb(26, 25, 25);
    color: white;
    background-image: url(./images/Untitled.png);
    background-repeat: no-repeat;
    background-position: right;
    
   
}
.koulutus a{
    position: absolute;
left: 48%;


    
}

.työkokemus{

    min-height: 60vh;
    background-color: orange;
    background-image: url(./images/paper-g91d315288_640.png);
    background-repeat: no-repeat;
    background-position: right;
    
   
}
.työkokemus a{
    position: absolute;
    left: 48%;
   
}

.työkokemus h1{
    color: black;
}

.osaaminen{
    min-height: 60vh;
}
.osaaminen-card-image{
    height: 25%;
    width: 25%;
    align-self: center; 
}
.osaaminen a{
    background-color: orange;
    color: black;
    border-color: black;
}
.card{
    background-color: blue;
}