/*html{
    background-color: rgb(26, 25, 25);
    color: white;
    background-image: url(../images/Untitled.png);
    background-repeat:repeat;
    background-position: right;
    background-size: 10%; 
    
}*/
.koulutus{
    position: relative;
    overflow: hidden;
    color: orange;
    padding-top: 20px;
    
 
}
.koulutus::before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../images/Untitled.png);
    background-color: rgb(26, 25, 25);
    transform: rotate(10deg);
}
.accordion-custom{
  width: 65%;
}
.header-custom{
    background-color: orange;
    
}

